DB_URL=
DB_USERNAME=
DB_PASSWORD=

SEED_USERS_PASSWORD=
JWT_SECRET=
JWT_EXPIRATION=
RATE_LIMIT_REQUESTS_PER_MINUTE=
AUTH_RATE_LIMIT_PER_MINUTE=

SLA_DESPACHO_BAJA_HORAS=
SLA_DESPACHO_MEDIA_HORAS=
SLA_DESPACHO_ALTA_HORAS=
SLA_DESPACHO_REQUERIMIENTO_HORAS=

FILE_STORAGE_PATH=
FILE_MAX_SIZE_MB=
FILE_IMAGE_MAX_SIZE_MB=
FILE_DOCUMENT_MAX_SIZE_MB=

SSE_TIMEOUT_MINUTES=
SSE_HEARTBEAT_SECONDS=

KPI_ZONA_HORARIA=

ESCALADO_ALTA_MINUTOS=
ESCALADO_MEDIA_MINUTOS=
ESCALADO_BAJA_MINUTOS=
ESCALADO_REVISION_SEGUNDOS=

SLA_ATENCION_ALTA_HORAS=
SLA_ATENCION_MEDIA_HORAS=
SLA_ATENCION_BAJA_HORAS=
KPI_META_SLA_DESPACHO=
KPI_ALERTA_SLA_DESPACHO=
KPI_META_SLA_ATENCION=
KPI_META_COLA_MEDIANA_HORAS=
KPI_META_COLA_P90_HORAS=
KPI_META_DECISION_RQ=
KPI_DECISION_RQ_HORAS=
KPI_META_REASIGNACION_MAX=
KPI_META_DEVOLUCION_MAX=
KPI_META_CARGA_MAX_PERSONA=
