DB_URL=
DB_USERNAME=
DB_PASSWORD=

SEED_USERS_PASSWORD='User12345'
JWT_SECRET='SGT-Dev-Secret-2026-MiClaveSuperSegura-32chars'
JWT_EXPIRATION=3600
RATE_LIMIT_REQUESTS_PER_MINUTE=60
AUTH_RATE_LIMIT_PER_MINUTE=10

SLA_DESPACHO_BAJA_HORAS=4
SLA_DESPACHO_MEDIA_HORAS=2
SLA_DESPACHO_ALTA_HORAS=1
SLA_DESPACHO_REQUERIMIENTO_HORAS=2

FILE_STORAGE_PATH=./uploads
FILE_MAX_SIZE_MB=10
FILE_IMAGE_MAX_SIZE_MB=5
FILE_DOCUMENT_MAX_SIZE_MB=10

SSE_TIMEOUT_MINUTES=30
SSE_HEARTBEAT_SECONDS=25

KPI_ZONA_HORARIA=America/Lima

ESCALADO_ALTA_MINUTOS=30
ESCALADO_MEDIA_MINUTOS=120
ESCALADO_BAJA_MINUTOS=240
ESCALADO_REVISION_SEGUNDOS=60

SLA_ATENCION_ALTA_HORAS=8
SLA_ATENCION_MEDIA_HORAS=24
SLA_ATENCION_BAJA_HORAS=72
KPI_META_SLA_DESPACHO=90
KPI_ALERTA_SLA_DESPACHO=80
KPI_META_SLA_ATENCION=85
KPI_META_COLA_MEDIANA_HORAS=1
KPI_META_COLA_P90_HORAS=4
KPI_META_DECISION_RQ=90
KPI_DECISION_RQ_HORAS=48
KPI_META_REASIGNACION_MAX=10
KPI_META_DEVOLUCION_MAX=15
KPI_META_CARGA_MAX_PERSONA=5
